body {
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  line-height: 2em;
  background-color: rgba(1, 2, 1, 0.548);
  color: rgb(218, 186, 5);
  text-shadow: 1px 1px 5px rgba(255, 102, 0, 0.836);
}

.example {
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.116);
  border-radius: 50px;
  margin: 0 100px 10px 100px;
  color: rgb(104, 92, 28);
  text-shadow: 1px 1px 5px rgba(236, 48, 211, 0.836);
}

.header {
}

.logo-and-I {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-right: 41%;
  margin-left: 41%;
}

.logo {
  margin-top: 25%;
  vertical-align: middle;
}

.header-description {
  text-align: center;
}

.text {
  border: 3px dotted rgb(128, 47, 0);
  border-radius: 2em;
  margin: 20px 250px 0 250px;
}

.form-list,
.input-list {
  text-align: center;
}

hr,
#hr-one {
  width: 50%;
  margin: 40px 100px 40px 330px;
}

.some-inf {
  border: 3px dashed rgb(128, 47, 0);
  border-radius: 2em;
  margin: 20px 250px 0 250px;
}

.inf {
  text-align: center;
  padding: 20px;
}

.title-inf {
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 20px;
  background: rgba(255, 238, 0, 0.164);
  border-radius: 25px;
}

.text-input,
.text-label {
  text-align: center;
  margin: 20px;
}

.label-descr,
.input-descr {
  margin-right: 200px;
  margin-left: 200px;
  background: rgba(255, 238, 0, 0.164);
  border-radius: 25px;
}

#line {
  margin-left: 191px;
}
