html,
body {
  margin: 0;
}

body {
  background-color: black;
  display: flex; /*отображение элемента в браузере*/
  align-items: center; /*выравнивание эементов блока по центру*/
  justify-content: center; /*выравнивание содержимого элементов по центру*/
}

.container {
  margin-top: 50px;
}

.navigation {
  text-align: center;
}

.tetris-title {
  color: white;
}

canvas {
  border: 1px solid white;
}
