body {
  width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
}

.container {
  margin: 0 100px 0 100px;
}

.line {
  position: absolute;
  width: 30px;
  height: 70px;
  border: 1px grey solid;
  background: gray;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 30px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  padding: 10px;
  list-style: none;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
