body {
  width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
}

.container {
  margin: 0 100px 0 100px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  padding: 20px;
  list-style: none;
}
