/*Adaptive site*/

@media only screen and (max-width: 1000px) {
  .navigation {
    width: 800px;
  }
}
@media only screen and (max-width: 800px) {
  .navigation {
    width: 600px;
  }
}
@media only screen and (max-width: 600px) {
  .navigation {
    width: 400px;
  }
}

/*body, * */

body {
  width: 1200;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
}

/*container*/

.container {
  margin: 0 100px 0 100px;
}

/*line*/

.line {
  position: absolute;
  width: 30px;
  height: 70px;
  border: 1px grey solid;
  background: gray;
}

.line-header {
  border-bottom: 2px solid rgb(185, 185, 185);
}

.line-main {
  height: 440px;
}

/*Header*/

.navigation {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 30px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  padding: 10px;
  list-style: none;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

/*main-block*/

.main-block {
  height: 300px;
  text-align: center;
  /* margin: 0 auto; */
}

.photo {
  width: 30em;
  height: 30em;
  position: absolute;
  margin-left: 50px;
  /* filter: opacity(90%); /*Это свойсвто делатет картинку прозрачнее */
}

.greeting,
.profession {
  position: relative;
}

.greteeng-text {
  vertical-align: bottom;
}
