@import url("https://fonts.googleapis.com/css2?family=Alef&family=Gentium+Plus&family=Gorditas&family=Josefin+Sans:wght@200&family=Montserrat:wght@200&family=Mukta:wght@200&family=Red+Hat+Mono:wght@300&family=Roboto+Slab:wght@100&family=Rubik+Glitch&family=Spline+Sans+Mono:wght@300&family=Titillium+Web:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  width: 1400px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Shadows Into Light", cursive;
}

.elem-theme,
.elem-logo,
.elem-git,
.elem-vk,
.elem-tg {
  padding: 40px;
}

.container {
  width: 90%;
  margin: 25px 100px 100px;
}

.header,
.block-one-elem,
.block-third-elem {
  display: flex;
  justify-content: space-between;
}

.main-block-one {
  display: flex;
  justify-content: baseline;
}

.block-for-text {
  width: 70%;
  border: 2px solid black;
  padding: 1em;
}

.block-for-link {
  margin-left: 150px;
  border: 2px solid black;
  padding: 1em;
}

.link-library,
.link-blog,
.link-family {
  padding-top: 20px;
}
