@import url("https://fonts.googleapis.com/css2?family=Alef&family=Gentium+Plus&family=Gorditas&family=Josefin+Sans:wght@200&family=Montserrat:wght@200&family=Mukta:wght@200&family=Red+Hat+Mono:wght@300&family=Roboto+Slab:wght@100&family=Rubik+Glitch&family=Spline+Sans+Mono:wght@300&family=Titillium+Web:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Body*/
body {
  width: 1400px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Shadows Into Light", cursive;
}

/*Переключатель темы*/
.light-theme {
  background-color: rgba(255, 255, 255, 0.267);
}
.dark-theme {
  background-color: rgba(0, 0, 0, 0.212);
}

/*контейнер общий*/
.container {
  width: 90%;
  margin: 25px 100px 100px;
}

/*----------Шапка-----------------------------------------*/

/*Отступы в шапке*/
.elem-theme,
.elem-logo,
.elem-git,
.elem-vk,
.elem-tg {
  padding: 40px;
}

/*Кнопка изменения темы на сайте*/
.btn-theme {
  border: none;
  background-color: rgba(255, 255, 255, 0.267);
  font-family: "Shadows Into Light", cursive;
}

/*Image*/
.elem-img {
  width: 300px;
  border-radius: 50%;
}

/*Расположение блоков в шапке*/
.header,
.block-one-elem,
.block-third-elem {
  display: flex;
  justify-content: space-between;
}

.elem-logo {
  cursor: pointer;
  color: black;
}

.elem-logo-change:active {
  color: blueviolet;
}

.main-block-one {
  display: flex;
  justify-content: baseline;
}

.block-for-text {
  width: 70%;
  border: 2px solid black;
  padding: 1em;
}

.block-for-link {
  margin-left: 150px;
  border: 2px solid black;
  padding: 1em;
}

.link-library,
.link-blog,
.link-family,
.link-counter {
  padding-top: 20px;
}
