/*ЛАмпочки новогодние*/
/*reset*/
body {
  width: 1200px;
  margin: 0;
  padding: 0;
}

/*container*/
.container {
  margin: 26px 100px 0 150px;
  box-sizing: border-box;
}

/*header-one*/
.header-one,
.header-one-ulNav {
  display: flex;
  justify-content: space-between;
}

.header-one-ulNav {
  list-style: none;
}

.header-one-li {
  margin-left: 15px;
  margin-right: 25px;
}
