body {
  margin: 100px;
  padding: 50px;
  border: solid black 2px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: rgb(245, 218, 218);
  color: rgb(151, 13, 13);
  line-height: 26px;
}

.logo {
  text-align: center;
}

.ul-navigation {
  list-style-type: none;
}

.dl {
  border: 2px solid lightslategray;
  border-radius: 25px;
}

.dt,
.dd {
  margin: 10px;
}

.dd {
  text-align: center;
  font-size: 12px;
  background-color: rgba(76, 216, 197, 0.342);
  border-radius: 20px;
  color: #b8701f;
}

.zag {
  text-align: center;
}

.font-rules {
  list-style-type: none;
}

.font {
  font-weight: bold;
  background-color: rgba(170, 128, 77, 0.507);
  padding: 10px;
  border-radius: 2em;
  text-align: center;
}

.link-font-size {
  text-decoration: none;
  color: inherit;
}

.line-height-40px {
  padding: 10px;
  line-height: 40px;
  border: 2px solid black;
}

.line-height-70px {
  padding: 10px;
  line-height: 70px;
  border: 2px solid black;
}

.text-align-right {
  text-align: right;
  color: #05c043;
}

.text-align-left {
  text-align: left;
  color: #0575c0;
}

.text-align-center {
  text-align: center;
  color: #c42494;
}

.text-align-justify-ie {
  text-align: justify;
  color: #7505c0;
}

.text-align-justify-link {
  text-decoration: none;
}

.text-align-justify-link:hover {
  color: #d597ff;
  transition: all 0.2s;
}

.image-and-description {
  /* text-align: center; */
  /* display: flex; */
}

.epe {
  width: 10em;
  border-radius: 50%;
}

.description {
  vertical-align: top;
  text-align: center;
}

.nowrap {
  border: 3px solid black;
  padding: 5px;
  white-space: nowrap;
}
.pre {
  border: 3px solid black;
  padding: 5px;
  white-space: pre;
}
.pre-wrap {
  border: 3px solid black;
  padding: 5px;
  white-space: pre-wrap;
}
.normal {
  border: 3px solid black;
  padding: 5px;
  white-space: normal;
}

.span-nowrap {
  font-style: italic;
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.span-pre {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.span-pre-wrap {
  font-style: oblique;
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.span-normal {
  font-style: italic;
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.btn {
  text-align: center;
}

.btn-click {
  /* cursor: pointer; */
  text-transform: lowercase;
  border: none;
  background-color: rgb(245, 218, 218);
}

a {
  text-decoration: none;
  color: rgb(151, 13, 13);
}
a:hover {
  color: blue;
  transition: all 0.2s;
}
