body {
  margin: 100px;
  padding: 50px;
  border: solid black 2px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: rgb(245, 218, 218);
  color: rgb(151, 13, 13);
  line-height: 26px;
}

.ul-navigation {
  list-style-type: none;
}
