/*styles on all page*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1200px;
  height: 100%;
}

/*container*/
.container {
  margin: auto;
  width: 70%;
}

/*main-container. Там, где находится фото и описание свое*/
.main-container {
  margin-top: 7em;
  margin-bottom: 10em;
  /* padding: 3em; */
  display: flex;
  justify-content: space-between;
}

/*main-photo*/
.my-face {
  width: 22em;
  height: 27em;
  /* border-radius: 2em; */
}

/*description-text*/
.description-text,
.description-btn {
  padding-left: 3em;
  font-size: 20px;
}

.description-text {
  /* font-size: 20px; */
  line-height: 30px;
  word-spacing: 10px;
}

/*canvas*/
.game {
  text-align: center;
}
.canva {
  background-color: rgb(109, 108, 108);
}
